@model ReleaseSpence.Models.Punto_de_Monitoreo

<script type="text/javascript">
    $(document).ready(function () {
        $("#dialog").modal({ show: true });
        $("#cerrar").click(function () {
            $("#dialog").modal("hide");
        });
    });
</script>

<h3>¿Esta seguro de que desea eliminar este Punto de Monitoreo?</h3>
<dl class="dl-horizontal">
    <dt>
        Nombre
    </dt>
    <dd>
        @Html.DisplayFor(model => model.nombre)
    </dd>
</dl>
@if (ViewBag.verif)
{
    <h5>Se eliminará la asociacion para los siguientes sensores:</h5>
}
<dl>
    @foreach (var item in ViewBag.sensoresList)
    {
        <dd>
            @item.nombre
        </dd>
    }

</dl>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="button" class="btn btn-primary" name="cerrar" id="cerrar" value="Cancelar">
        <input type="submit" class="btn btn-danger" name="enviar" id="enviar" value="Eliminar" />
    </div>
}